<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="incipit">Incipit</label>
          <input
            type="text"
            class="form-control"
            id="incipit"
            required
            [(ngModel)]="chant.incipit"
            name="incipit"
          />
        </div>
  
        <div class="form-group">
          <label for="volpiano">Volpiano</label>
          <input
            class="form-control"
            id="volpiano"
            required
            [(ngModel)]="chant.volpiano"
            name="volpiano"
          />
        </div>

        <div class="form-group">
            <label for="full_text">Full Text</label>
            <input
              class="form-control"
              id="full_text"
              required
              [(ngModel)]="chant.full_text"
              name="full_text"
            />
          </div>
  
        <button (click)="saveChant()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Chant was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newChant()">Add</button>
      </div>
    </div>
  </div>
